.honors {
    text-align: center;
}

.honors__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.honors__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    margin: 1rem auto;
}

.honors__project-title {
    font-size: var(--size-base);
    margin-bottom: 1rem;
}

.honors__img-wrapper {
    position: relative;
}

.honors__img-wrapper::after {
    content: '';
    background-color: rgba(13, 148, 136, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.honors__experience:not(:last-child) {
    margin-bottom: 5rem;
}

.honors__project-description1 {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    margin: 1rem 0;
}

.honors__project-description2 {
    font-size: var(--size-sm);
    color: var(--clr-slate400);
    margin-bottom: 1rem;
}

.honors__img-wrapper:hover::after {
    background-color: rgba(13, 148, 136, 0.3);
}

.honors__project-btn {
    font-size: var(--size-sm);
}

.honors__project-subtitle {
    display: none;
}

/* xs */
@media (min-width: 475px) {
    .honors__title {
        font-size: var(--size-3xl);
    }
    
    .honors__description {
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }

    .honors__project-title {
        font-size: var(--size-lg);
        margin-bottom: 1.5rem;
    }

    .honors__project-description1 {
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }
    
    .honors__project-description2 {
        font-size: var(--size-base);
        margin-bottom: 1.5rem;
    }

    .honors__project-btn {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width: 640px) {
    .honors__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'image1 content1'
            'content2 image2';
        place-items: center;
    }

    .honors__image1 {
        grid-area: image1;
    }

    .honors__image2 {
        grid-area: image2;
    }

    .honors__content1 {
        grid-area: content1;
    }

    .honors__content2 {
        grid-area: content2;
    }

    .honors__project {
        padding: 0 1rem;
    }

    .honors__project-title {
        display: none;
    }

    .honors__project-description1 {
        font-size: var(--size-xs);
        margin: 1em 1em;
    }
    
    .honors__project-description2 {
        font-size: var(--size-xs);
        margin: 0 1em;
        margin-bottom: 1em;
    }

    .honors__project-btn {
        font-size: var(--size-xs);
    }

    .honors__experience:not(:last-child) {
        margin-bottom: 0;
    }

    .honors__project-subtitle {
        display: block;
        font-size: var(--size-base);
    }
}

/* md */
@media (min-width: 768px) {
    .honors__project-description1 {
        font-size: var(--size-xs);
    }
    
    .honors__project-description2 {
        font-size: var(--size-xs);
    }

    .honors__project-btn {
        font-size: var(--size-xs);
    }

    .honors__project-subtitle {
        font-size: var(--size-lg);
    }
}

/* lg */
@media (min-width: 1024px) {
    .honors__title {
        font-size: var(--size-4xl);
    }
    
    .honors__description {
        font-size: var(--size-lg);
    }

    .honors__project-description1 {
        font-size: var(--size-base);
    }
    
    .honors__project-description2 {
        font-size: var(--size-base);
    }

    .honors__project-btn {
        font-size: var(--size-base);
    }

    .honors__project-subtitle {
        font-size: var(--size-xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .honors__title {
        font-size: var(--size-5xl);
    }
    
    .honors__description {
        font-size: var(--size-xl);
        margin: 2rem auto;
    }

    .honors__project-description1 {
        font-size: var(--size-lg);
    }
    
    .honors__project-description2 {
        font-size: var(--size-lg);
    }

    .honors__project-btn {
        font-size: var(--size-lg);
    }

    .honors__project-subtitle {
        font-size: var(--size-2xl);
    }

    .honors__container {
        width: 80%;
        margin: 0 auto;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .honors__container {
        width: 70%;
    }
}